.vbox {
    -fx-padding: 40;
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-alignment: center;
}

.white-bg {
-fx-background-color: linear-gradient(to bottom right, #00D6FF, #00D62F);
    -fx-background-color: #eee;
    -fx-background-radius: 8px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 6, 0, 0, 0);
}

.header-label {
    -fx-font-size: 24px;
    -fx-text-fill: #096150;
    -fx-padding: 0 0 20 0;
}

.grid-pane {
    -fx-padding: 20;
    -fx-background-color: #f7f7f7;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #eee;
    -fx-border-width: 1;
}


.text-field {
    -fx-font-size: 1.5em;
    -fx-background-color:  #FFFFFF;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-border-color: #ddd;
    -fx-border-radius: 5;
}

.text-field:focused {
    -fx-border-color: #117A65;
    -fx-border-width: 1px;
}

/* Other styles... */

.button {
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-radius: 15px; /* Rounded corners */
    -fx-border-radius: 15px; /* Rounded border */
    -fx-cursor: hand; /* Hand cursor on hover */
}

.change-button {
    -fx-background-color: #027148;
}

.change-button:hover {
    -fx-background-color: #004000;
}

.cancel-button {
    -fx-background-color: #d9534f;
}

.cancel-button:hover {
    -fx-background-color: #c9302c;
}
